.btn {
  margin: 3rem;
}
.container-fluid {
  height: 2rem;
}
.Home{
   overflow: hidden;
}
.mid {
  background-image: url("../assests/—Pngtree—data\ the\ internet\ cloud\ network_926213.jpg");
  background-size: cover;
  background-color: black;
  height: 100vh;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  /* flex-direction: column; */
}
.navbar-nav {
  margin-left: 30rem;
}
.navbar {
  height: 5rem;
   overflow: hidden;
}
.navbar-brand {
  font-size: 2.25rem;
  color: #0079c3;
  font-weight: bold;
}

.come {
  position: absolute;
  left: 36.5rem;
  bottom: 14rem;
}
.come1 {
  position: absolute;
  left: 30rem;
  bottom: 20rem;
}
.info {
  margin-top: 6rem;
  font-weight: lighter;
  font-family: azz LET, fantasy;
}
.loggedUser_info {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 71px;
  color: #0079c3;
}
.name {
  margin: 6px;
}
.logout_Btn {
  border-radius: 6rem;
  background-color: #0079c3;
  color: aliceblue;
}
.loggedUser {
  position: absolute;
  display: flex;
  right: 0;
  width: 19rem;
}
.Sorting {
  width: 19rem;
  height: 14rem;
  border-radius: 3rem;
  position: absolute;
  left: 34rem;
  /* bottom: 1rem; */
  bottom: 1rem;
}
.Sorting1 {
  width: 19rem;
  height: 14rem;
  border-radius: 3rem;
  position: absolute;
  left: 8rem;
  top: 0rem;
}
.more {
  color: white;
  /* font-weight: 800; */
  font-family: cursive;
}
